<!DOCTYPE html>
<html lang="ar">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>الاستشارات </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>

<body dir="rtl">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/">الرئيسية</a></li>
          <li><a class="nav-link scrollto" href="/specialist">مستشارينا</a></li>
          <li><a class="nav-link scrollto" href="https://hfqtq0.zid.store/">المتجر</a></li>
        </ul>
        <div class="btnLogin2">
          <a class="nav-link" href="/login">تسجيل الدخول كمختص</a>
      </div>

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>المستشارين</h2>
          <p>ما لقيت لبس يناسبك؟ احجز موعد مع مستشارينا ونحن نوجد لك الحل </p>
        </div>

        <div class="row">

          <% data.forEach((user)=>{%>
            
          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100" dir="rtl">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/pro.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4> <%= user.name %></h4>
                <span> <%= user.major %></span>
                <p> <%= user.experience %></p>
                <div class="social">
                    <a href="<%= user.linkedin %>" class="ri-twitter-fill a"><i class="fab fa-linkedin-in"></i></a>
                    <a href="<%= user.twitter %>" class="ri-facebook-fill a"><i class="fab fa-twitter"></i></a>
                    <a href="<%= user.facebook %>" class="ri-instagram-fill a"><i class="fab fa-facebook-f"></i></a>
                    <div class="row btn btn-purple text-center ">
                      <a href="/appointment_request/<%= user.id %>" class="a2">حجز موعد</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% })
          %>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include("./layout/footer.ejs") %>

    
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>